n8n-workflows/payment-handler.json
{
  "name": "Payment Handler - Odalis Senge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Receive Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "payment-handler"
    },
    {
      "parameters": {
        "functionCode": "// Validar payload del webhook\nconst payload = $input.item.json;\n\n// Validar estructura\nif (!payload.payment_id || !payload.status) {\n  throw new Error('Invalid payload structure');\n}\n\n// Normalizar datos\nreturn {\n  json: {\n    payment_id: payload.payment_id,\n    status: payload.status,\n    amount: payload.amount || 0,\n    currency: payload.currency || 'USD',\n    customer_email: payload.customer_email,\n    metadata: payload.metadata || {},\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Validate Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/reservas/activate",
        "method": "POST",
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Activate Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8002/ws/notify",
        "method": "POST",
        "bodyParametersJson": "={{ JSON.stringify({\"event\": \"payment.success\", \"data\": $json}) }}",
        "options": {}
      },
      "name": "WebSocket Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/partner",
        "method": "POST",
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "headers": {
            "X-HMAC-Signature": "={{ $json.hmac_signature }}"
          }
        }
      },
      "name": "Trigger Partner Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\"success\": true, \"message\": \"Payment processed\"}) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Payment": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Activate Service", "type": "main", "index": 0 }]]
    },
    "Activate Service": {
      "main": [
        [
          { "node": "WebSocket Notification", "type": "main", "index": 0 },
          { "node": "Trigger Partner Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "WebSocket Notification": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Trigger Partner Webhook": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "id": "payment-handler-workflow"
}
