backend/n8n-workflows/workflows/mcp_input_handler.json
{
  "name": "MCP Input Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-input",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-mcp-input",
      "name": "Webhook MCP Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "mcp-input-handler"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer contenido y preparar para AI Orchestrator\nconst input = $input.first().json;\n\nlet content = input.message || '';\nlet attachments = [];\n\n// Procesar adjuntos si existen\nif (input.attachments && Array.isArray(input.attachments)) {\n  attachments = input.attachments.map(att => ({\n    type: att.type || 'unknown',\n    url: att.url,\n    filename: att.filename || 'attachment'\n  }));\n}\n\n// Detectar intención básica\nlet intent = 'general';\nconst lowerContent = content.toLowerCase();\n\nif (lowerContent.includes('reserva') || lowerContent.includes('reservar')) {\n  intent = 'reservation';\n} else if (lowerContent.includes('cancelar')) {\n  intent = 'cancellation';\n} else if (lowerContent.includes('precio') || lowerContent.includes('costo')) {\n  intent = 'pricing';\n} else if (lowerContent.includes('destino') || lowerContent.includes('tour')) {\n  intent = 'search';\n}\n\nreturn [{\n  json: {\n    channel: input.channel,\n    channel_user_id: input.user_id || input.chat_id,\n    message: content,\n    attachments: attachments,\n    detected_intent: intent,\n    original_data: input\n  }\n}];"
      },
      "id": "extract-content",
      "name": "Extraer Contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8004/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"usuario_id\": \"{{ $json.channel_user_id }}\",\n  \"context\": {\n    \"channel\": \"{{ $json.channel }}\",\n    \"intent\": \"{{ $json.detected_intent }}\",\n    \"attachments\": {{ JSON.stringify($json.attachments) }}\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-to-ai",
      "name": "Enviar a AI Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Extraer Contenido').item.json.channel }}",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "check-channel",
      "name": "¿Canal?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1130, 200],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Extraer Contenido').item.json.channel }}",
        "rules": {
          "rules": [
            {
              "value2": "telegram",
              "output": 0
            },
            {
              "value2": "email",
              "output": 1
            },
            {
              "value2": "webhook",
              "output": 2
            }
          ]
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extraer Contenido').item.json.channel_user_id }}",
        "text": "={{ $json.response || $json.message || 'Lo siento, no pude procesar tu solicitud.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1350, 50],
      "continueOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=noreply@turismo-recomendaciones.com",
        "toEmail": "={{ $('Extraer Contenido').item.json.original_data.from_email }}",
        "subject": "Re: Tu consulta - Turismo Recomendaciones",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif;\">\n  <h2>Respuesta a tu consulta</h2>\n  <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px;\">\n    <p>{{ $json.response || $json.message || 'Lo siento, no pude procesar tu solicitud.' }}</p>\n  </div>\n  <hr>\n  <p style=\"color: #6b7280; font-size: 12px;\">Este es un mensaje automático del Sistema de Recomendaciones Turísticas.</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-response",
      "name": "Responder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1350, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"channel\": \"{{ $('Extraer Contenido').item.json.channel }}\",\n  \"response\": {{ JSON.stringify($('Enviar a AI Orchestrator').item.json) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-webhook",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Invalid input: missing channel or message\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-error",
      "name": "Error Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Response sent via {{ $('Extraer Contenido').item.json.channel }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-sent",
      "name": "Respuesta Enviada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 125]
    }
  ],
  "connections": {
    "Webhook MCP Input": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Extraer Contenido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Contenido": {
      "main": [
        [
          {
            "node": "Enviar a AI Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a AI Orchestrator": {
      "main": [
        [
          {
            "node": "¿Canal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Canal?": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Telegram": {
      "main": [
        [
          {
            "node": "Respuesta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Email": {
      "main": [
        [
          {
            "node": "Respuesta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "mcp",
      "createdAt": "2026-01-19T00:00:00.000Z",
      "updatedAt": "2026-01-19T00:00:00.000Z"
    },
    {
      "name": "event-bus",
      "createdAt": "2026-01-19T00:00:00.000Z",
      "updatedAt": "2026-01-19T00:00:00.000Z"
    },
    {
      "name": "chat",
      "createdAt": "2026-01-19T00:00:00.000Z",
      "updatedAt": "2026-01-19T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
